# Ignore environment variable files
.env

server/env/



git-commit-format.txt
# Ignore Docker-related artifacts
*.log
*.pid
*.sock

# Ignore OS/system junk
.DS_Store
Thumbs.db

# Ignore IDE/editor configs
.vscode/
.idea/
*.swp
*.swo
*.bak

chat_json.txt

# Ignore backup files
*~
*.orig


# Ignore all migration folders
server/**/migrations/

# Ignore compiled python files and pycache
server/**/__pycache__/
server/**/*.pyc
server/**/*.pyo
server/**/*.pyd